@media (min-width: 1000px) {
    .grid {
        display: grid;
        grid-template-areas:
        "b a a a";
        align-items: start;
    }
    
    .grid-alt {
        display: grid;
        align-items: unset;
        grid-template-areas:
        "a a a a"
        "c c c b"
        "c c c b"
        "c c c b";
        align-items: start;
    }
}

.grid-a {
    grid-area: a;
}

.grid-b {
    grid-area: b;
}

.grid-c {
    grid-area: c;
}

.grid-d {
    grid-area: d;
}

.grid-e {
    grid-area: e;
}

.grid-f {
    grid-area: f;
}

@media (max-width: 999px) {
    .grid-alt {
        display: flex;
        flex-direction: column;
    }
}