@media (min-width: 320px) {
    .grid-alt {
        display: inline;
    }
    
    .grid {
        display: inline;
    }
}

@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-areas:
        "a a a a"
        "b c c c"
        "b d d d"
        "e d d d"
        "f d d d";
    }

    .grid-alt {
        display: grid;
        align-items: unset;
        grid-template-areas:
        "a a a a"
        "c c c b"
        "c c c d"
        "c c c d";
    }
    
    .grid-a {
        grid-area: a;
    }
    
    .grid-b {
        display: block;
        grid-area: b;
    }
    
    .grid-c {
        display: block;
        grid-area: c;
    }
    
    .grid-d {
        display: block;
        grid-area: d;
    }
    
    .grid-e {
        display: block;
        grid-area: e;
    }
    
    .grid-f {
        display: block;
        grid-area: f;
    }
    
}
