/* Estilização dos forms de Login e Cadastro */

@media (min-width: 320px) {
    .cta {
        display: flex;
        justify-content: center;
    }
    
    .text {
        background-color: var(--corBGGrids);
        height: fit-content;
        position: absolute;
        top: 72px;
        padding: var(--t8px) var(--t16px);
        border-radius: var(--t24px);
        color: var(--corTextoPreto);
    }

    em {
        font-weight: bold;
    }

    .text a {
        text-decoration: none;
    }
    
    .checkinContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--t64px) 0;
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        border-radius: var(--t16px);
        background-color: var(--corBGForms);
        padding: var(--t40px) var(--t8px);
        gap: var(--t32px);
        width: 90%;
    }

    .formHeader {
        text-align: center;
    }

    .titulo {
        color: var(--corTextoPreto);
        font-size: var(--t32px) !important;
        font-weight: bold !important;
        margin-bottom: var(--t4px) !important;
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .input {
        height: var(--t48px);
        border-radius: var(--t8px);
        border-style: none;
        padding-left: var(--t8px);
        font-family: 'poppins';
    }

    .inputLabel {
        padding-left: var(--t8px);
    }

    .inputMargin {
        margin-bottom: var(--t16px);
    }

    .linkForm {
        text-align: end;
        text-decoration: none;
        padding: var(--t16px) 0 var(--t32px) 0;
        color: var(--corTextoPreto);
    }
    
    .btnForm {
        align-self: center;
        padding: var(--t8px) var(--t32px);
        border-style: none;
        border-radius: var(--t8px);
        color: var(--corTextoBranco);
        background-color: var(--corEnfase);
        cursor: pointer;
    }
    
    .login {
        height: 100vh;
    }

    /* Estilização por tipos de input */

    .radio {
        display: flex;
        align-items: center;
        gap: var(--t8px);
        padding-left: 0;
    }

    .select {
        box-sizing: border-box;
        width: 100%;
    }

    .checkboxMargin {
        margin-bottom: var(--t8px);
    }

    #categoriasContainer {
        padding-top: var(--t8px);
    }

    #categoriasContainer label {
        display: inline-block;
    }

    /* /cadastro (Estilizações) */

    .obsForm {
        font-size: var(--t12px) !important;
        margin-bottom: var(--t24px) !important;
    }    

    #avatarForm {
        padding: 1em 0;
        height: 256px;
        width: 256px;
        object-fit: cover;
    }
}

@media (min-width: 420px) {
    .checkinContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--t64px) var(--t32px);
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        background-color: var(--corBGGrids);
        border-radius: var(--t16px);
        padding: var(--t16px);
        gap: var(--t32px);
        width: inherit;
    }
}

@media (min-width: 768px) {
    .formContainer {
        max-width: 600px;
    }
}