form {
    display: flex;
    flex-direction: column;
    padding: var(--t24px) 0;
}

form a {
    text-align: end;
    padding: var(--t16px) 0 var(--t44px) 0;
}

#emailLogin {
    margin-bottom: var(--t40px);
}