@media (min-width: 320px) {     
    .containerInfoUsuario {
        display: flex;
        padding: var(--t16px);
        justify-content: space-between;
        background: linear-gradient(0deg, rgba(227,212,255,0) 0%, rgba(227,212,255,1) 100%);
    }

    .containerMenuCategorias {
        display: none;
    }
}

@media (min-width: 600px) {
    .containerInfoUsuario {
        padding: var(--t24px) var(--t32px);
    }
}

@media (min-width: 1000px) {   
    .containerInfoUsuario {
        padding: var(--t24px) 10em;
    }

    .containerMenuCategorias {
        display: inline;
        padding: var(--t16px);
        border-radius: var(--t16px);
        box-shadow: 0 5px 8px var(--corBotao);
    }

    .grid-b {
        gap: var(--t24px);
        display: flex;
        flex-direction: column;
        max-width: 25em;
        padding-left: var(--t32px);
    }
}

@media (min-width: 1400px) {
    .padding-left {
        padding-left: 10em;
    }
}
