@media (min-width:320px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 var(--t16px);
        height: var(--t64px);
        box-shadow: 0px -5px 31px 0px rgba(0,0,0,0.25);
    }

    header h1 {
        display: none;
    }

    #btnCheckIn {
        background-color: var(--corEnfase);
        color: var(--corTextoBranco);
        height: fit-content;
        padding: var(--t8px) var(--t24px);
        border-radius: var(--t24px);
        border-style: none;
        cursor: pointer;
        text-decoration: none;
    }
}

@media (min-width:768px) {    
    .containerLogo {
        display: flex;
        align-items: center;
        gap: var(--t16px);
    }

    .containerLogo h1 {
        display: inline;
        font-size: var(--t32px) !important;
        color: var(--corTextoPreto);
    }

    .linkLogo {
        text-decoration: none;
    }
}

@media (min-width: 600px) {
    header {
        padding: 0 var(--t32px);
    }
}

@media (min-width: 1000px) {
    header {
        padding: 0 10em;
    }
}