@media (min-width:320px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 var(--t16px);
        height: var(--t64px);
    }

    header h1 {
        display: none;
    }

    #btnCheckIn {
        background-color: var(--corEnfase);
        color: var(--corTextoBranco);
        height: fit-content;
        padding: var(--t4px) var(--t16px);
        border-radius: var(--t16px);
        text-decoration: none;
    }
}

@media (min-width:768px) {    
    .containerLogo {
        display: flex;
        align-items: center;
        gap: var(--t16px);
    }

    .containerLogo h1 {
        display: inline;
        font-size: var(--t32px) !important;
        color: var(--corTextoPreto);
    }

    .linkLogo {
        text-decoration: none;
    }
}