@media (min-width: 320px) {   
    .infoUsuario h2 {
        font-size: var(--t24px);
        margin-bottom: var(--t8px);
        color: var(--corTextoPreto);
    }

    .contatoUsuario {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .contatoUsuario button {
        padding: var(--t8px) var(--t24px);
        border-radius: var(--t32px);
        border-style: none;
        color: var(--corTextoBranco);
        font-size: var(--t16px);
        background-color: var(--corEnfase);
    }

    .contatoUsuario img {
        border-radius: var(--t64px);
        object-fit: cover;
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 768px) {
    .containerInfoUsuario {
        padding: var(--t16px) var(--t64px);
    }
}

@media (min-width: 1280px) {
    .containerInfoUsuario {
        padding: var(--t16px) var(--t96px);
    }
}