@media (min-width: 320px) {   
    .infoUsuario h2 {
        font-size: var(--t24px);
        margin-bottom: var(--t8px);
        color: var(--corTextoPreto);
    }

    .infoUsuario p {
        color: var(--corTextoPreto);
    }

    .contatoUsuario {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .ctaUsuario {
        display: flex;
        flex-direction: column;
        gap: var(--t8px);
        align-items: center;
    }

    .btnUsuario {
        padding: var(--t8px) var(--t24px);
        border-radius: var(--t32px);
        border-style: none;
        color: var(--corTextoBranco);
        font-size: var(--t16px);
        background-color: var(--corEnfase);
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
      
      .btnUsuario:hover {
        background-color: var(--corBotao);
        color: var(--corTextoPreto);
      }
      
      .btnUsuario.copied {
        background-color: #28a745;
        animation: bounce 0.5s ease;
      }
      
      @keyframes bounce {
        0%, 100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
      }

    .contatoUsuario img {
        border-radius: var(--t64px);
        object-fit: cover;
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 768px) {
    .infoUsuario {
        max-width: 60%;
    }
    
    .infoUsuario h2 {
        font-size: var(--t40px);
    }

    .infoUsuario p {
        font-size: var(--t20px);
    }

    .infoUsuario abbr {
        font-size: var(--t24px);
    }
    
    .contatoUsuario {
        gap: var(--t64px);
    }
    
    .contatoUsuario img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
}