@import "/src/variaveis.css";

@media (min-width: 320px) {
  .containerMenuPrincipal {
    display: flex;
    position: fixed;
    bottom: 1%; left: 0; right: 0;
    margin: auto;
    background-color: var(--corBGGrids);
    padding: var(--t12px) var(--t24px);
    gap: var(--t24px);
    border-radius: var(--t16px);
    border: solid var(--corEnfase) 1px;
    align-items: center;
    width: fit-content;
  }
  
  .menuLinkContainer {
    color: var(--corTextoPreto);
  }

  .menuLinkContainer h6 {
    display: none;
  }

  #menuPostagem {
    padding: var(--t8px);
    color: var(--corTextoBranco);
    background-color: var(--corEnfase);
    border-radius: var(--t8px);
  }
}

@media (min-width: 600px) {
  .containerMenuPrincipal {
    display: flex;
    position: fixed;
    bottom: 2.5%; left: 2.5%; right: 2.5%;
    margin: auto;
    padding: var(--t8px) var(--t16px);
    gap: var(--t32px);
    border: solid var(--corEnfase) 1px;
    align-items: center;
    width: fit-content;
  }

  .menuLinkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-align: center;
  }

  .menuLinkContainer h6 {
    display: inline;
    font-size: var(--t12px);
  }
}

@media (min-width: 1000px) {
  .containerMenuPrincipal {
    position: inherit;
    display: grid;
    gap: var(--t8px);
    padding: var(--t20px);
    background-color: var(--corBGGrids);
    border-style: none;
    grid-template-areas:
      "a a a b"
      "c c d d"
      "e e e e";
  }
  
  .menuLinkContainer {
    background-color: var(--corBotao);
    padding: var(--t8px);
    font-size: var(--t24px);
    border-radius: var(--t8px);
  }
  
  #menuPesquisa {
    grid-area: a;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #menuNotificacoes {
    grid-area: b;
    align-items: center;
    justify-content: center;
  }

  #menuNotificacoes h6 {
    display: none;
  }
  
  #menuPerfil {
    grid-area: c;
    gap: var(--t32px);
    align-items: initial;
    min-width: var(--t64px);
    min-height: 120px;
    justify-content: space-between;
  }
  
  #menuEditais {
    grid-area: d;
    text-align: end;
    align-items: initial;
    justify-content: space-between;
    min-height: 120px;
  }
  
  #menuPostagem {
    grid-area: e;
    gap: var(--t16px);
    align-items: center;
    padding: var(--t16px);
    justify-content: center;
    color: var(--corTextoBranco);
    background-color: var(--corEnfase);
    flex-direction: row;
  }
}
