:root {
    /* Paleta de cores */
    --corBotao: #E3D4FF;
    --corBGGrids: #FAF7FF;
    --corTextoBranco: #F4EDFF;
    --corTextoPreto: #2C0735;
    --corBGIcons: #ECE1FF;
    --corInfo: #66157A;
    --corEnfase: #4E148C;
    --corNavbar: #FFFFF9;

    /* Padrão de tamanhos (Crazy8s) */
    --t4px: 0.25em;
    --t8px: 0.5em;
    --t12px: 0.75em;
    --t16px: 1em;
    --t20px: 1.25em;
    --t24px: 1.5em; 
    --t32px: 2em;
    --t40px: 2.5em;
    --t44px: 2.75em;
    --t48px: 3em;
    --t64px: 4em;
}

.BGGradiente {
    background: linear-gradient(121deg, #9334f9, #470558);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 0s ease infinite;
    -moz-animation: AnimationName 0s ease infinite;
    -o-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite;
}

/* Animação do Background */
@-webkit-keyframes AnimationName {
    0%{background-position:0% 78%}
    50%{background-position:100% 23%}
    100%{background-position:0% 78%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 78%}
    50%{background-position:100% 23%}
    100%{background-position:0% 78%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 78%}
    50%{background-position:100% 23%}
    100%{background-position:0% 78%}
}
@keyframes AnimationName {
    0%{background-position:0% 78%}
    50%{background-position:100% 23%}
    100%{background-position:0% 78%}
}