.containerRecomendacao {
    display: flex;
    padding: var(--t16px);
    gap: var(--t16px);
    text-decoration: none;
    color: var(--corTextoPreto);
    border-radius: var(--t16px);
    background-color: #f4eeff;
    margin-bottom: var(--t16px);
}

.containerRecomendacao img {
    object-fit: cover;
    width: 64px;
    height: 64px;
    border-radius: var(--t64px);
}

.iconPostagem {
    padding: var(--t8px);
    border-radius: var(--t16px);
    background-color: white;
}

.nomeRecomendacao {
    margin-bottom: var(--t16px);
}