@media (min-width:320px) {
    footer {
        background-color: var(--corEnfase);
        color: var(--corTextoBranco);
        text-align: center;
        padding: var(--t8px); 
    }

    footer h6 {
        font-size: var(--t16px) !important;
    }
}

@media (min-width:768px) {
    footer {
        background-color: var(--corEnfase);
        color: var(--corTextoBranco);
        text-align: center;
        padding: var(--t8px); 
    }

}